@import './dashboard.css';
@font-face {
  font-family: avallon;
  src: url(/src/assets/fonts/Avallon.ttf);
}
@font-face {
  font-family: elza;
  src: url(/src/assets/fonts/Elza-Semibold.otf);
}

:root{
  --white: #ffffff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
}

#background-container{
  height: 100vh;
  width: 100%;
}
#background-overlay{
  background-color: #dc0404;
  background-size: cover;
  height: 110vh;
  width: 100%;
  mix-blend-mode: overlay;
  opacity: 50%;
  filter: blur(100px);
}
#background-img{
  background-image: url("../src/assets/img/home_page/home_image.png");
  background-size: cover;
  width: 100%;
  transform: scaleX(-1);
  z-index: 0;
}
#over-background{
  margin-top: -84vh;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 10%;
}
@media only screen and (max-width: 800px) {
  #over-background {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #logo-home{
    margin-top: 30vh;
  }
}

a{
  text-decoration: none;
  color: black;
}

#img-slogan-container{
  margin-left: 5%;
}
#logo-home{
  z-index: 1;
  height: auto;
  width: 40vw;
}
#naakt-magazine{
  white-space: nowrap;
  margin-top: 11%;
  z-index: 1;
}
.avallon{
  font-family: avallon;
  color: var(--white);
  font-size: clamp(2.5rem, 4vw, 4rem);
}
.carouselA-container {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: perspective(13rem) rotateY(-3deg);
  margin-top: -5vh;
  margin-left: -13.5vw;
  width: 110%;
  overflow: hidden;
}

.carouselA-wrapper {
  width: 100%;
}

.carouselA {
  width: 200%;
  height: 100%;
  white-space: nowrap;
}

.carouselA-slide {
  animation: 30s slide infinite linear;
  animation-play-state: paused;
  display: inline-block;
}

.carouselA:hover .carouselA-slide {
  animation-play-state: running;
}
.carouselA-slide a {
  display: inline-block;
  width: 19vw;
}

.carouselA-slide img {
  height: 50vh;
}

.title{
  display: flex;
  justify-content: center;
  font-family: avallon;
  font-size: 3rem;
  width: 19vw;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}