@import './dashboard.css';
@font-face {
  font-family: avallon;
  src: url(/src/assets/fonts/Avallon.ttf);
}
@font-face {
  font-family: elza;
  src: url(/src/assets/fonts/Elza-Semibold.otf);
}

:root{
  --white: #ffffff;
  --red: #dc0404;
  --yellow: #ffff1f;
  --black: #000000;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
}

/* home */

#background-container{
  height: 100vh;
  width: 100%;
}
#background-overlay{
  background-color: var(--red);
  background-size: cover;
  height: 110vh;
  width: 100%;
  mix-blend-mode: overlay;
  opacity: 50%;
  filter: blur(100px);
}
#background-img{
  background-image: url("../src/assets/img/home_page/home_image.png");
  background-size: cover;
  width: 100%;
  transform: scaleX(-1);
  z-index: 0;
}
#over-background{
  margin-top: -84vh;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 10%;
}

a{
  text-decoration: none;
  color: var(--black);
}

#img-slogan-container{
  margin-left: 5%;
}
#logo-home{
  z-index: 1;
  height: auto;
  width: 40vw;
}
#naakt-magazine{
  white-space: nowrap;
  margin-top: 11%;
  z-index: 1;
}
.avallon{
  font-family: avallon;
  color: var(--white);
  font-size: clamp(2.5rem, 4vw, 4rem);
}
.carouselA-container {
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: perspective(13rem) rotateY(-3deg);
  margin-top: -5vh;
  margin-left: -13.5vw;
  margin-bottom: 9.2vh;
  padding-bottom: 7vh;
  width: 110%;
  overflow: hidden;
}

.carouselA-wrapper {
  width: 100%;
}

.carouselA {
  width: 200%;
  height: 100%;
  white-space: nowrap;
}

.carouselA-slide {
  animation: 30s slide infinite linear;
  animation-play-state: paused;
  display: inline-block;
  animation-play-state: running;
}
.carouselA:hover .carouselA-slide {
  animation-play-state: paused;
}
.carouselA-slide a {
  display: inline-block;
}
.carouselA-slide img {
  height: 50vh;
}

.title{
  display: flex;
  justify-content: center;
  font-family: elza;
  font-size: clamp(1rem, 1.3vw, 3rem);
}
p{
  margin-top: 2vh;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* footer */

footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  background-color: var(--black);
  width: 100%;
  height: 10vh;
}
.contact-container{
  display: flex;
  color: var(--white);
  font-family: elza;
}
.contact-form{
  font-size: clamp(2rem, 3vw, 2.5rem);
}
.contact-details-container{
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  color: var(--white);
  font-family: elza;
  height: 5vh;
  margin-right: 3vw;
  margin-left: 2vw;
}
.contact-details{
  display: flex;
  flex-direction: row;
}
#at-sign{
  font-family: 'Times New Roman', Times, serif;
}
.social-media{
  color: var(--white);
  margin-top: 10vh;
}

@media only screen and (max-width: 800px) {
  #over-background {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -115vh;
  }
  #logo-home{
    margin-top: 30vh;
  }
  .carouselA-container {
    margin-top: -30vh;
  }
  .contact-container{
    width: 90%;
  }
}

/* about */

.core-values{
  background-size: cover;
  background-position: 0 center;
  background-repeat: no-repeat;
  height: 40vh;
  width: 100%;
}
.about-gewaagd{
  background-image: url('/src/assets/img/about/about_background.jpg');
  height: 50vh;
}
.about-inclusief{
  background-image: url('/src/assets/img/about/Inclusief.jpg');
}
.about-puur{
  background-image: url('/src/assets/img/about/Puur.jpg');
  background-position: 0 20%;
  
}
.about-text-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 5rem;
}
.about-text{
  font-family: elza;
  font-size: clamp(0.5rem, 3vw, 1.5rem);
  width: 50%;
}
.backdrop-filter{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-family: avallon;
  font-size: clamp(5rem, 10vw, 10rem);
  backdrop-filter: blur(2px) drop-shadow(20%);
  height: 100%;
  width: 100%;
}